/*place global styles here */
/* html,
body {
  @apply h-full overflow-hidden;
} */
html,
body {
  @apply h-full scrollbar-none;
}

@font-face {
  /* Reference name */
  font-family: "Inter";
  /* For multiple files use commas, ex: url(), url(), ... */
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
}
